@model Dot.Net.WebApi.Domain.Trade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeSecurity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeSecurity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benchmark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benchmark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceListId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Side)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Side)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TradeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
