@model IEnumerable<Dot.Net.WebApi.Domain.Trade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeSecurity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benchmark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceListId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Side)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeSecurity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benchmark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevisionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Side)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TradeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TradeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TradeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
